body {
    background-color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, serif;
}

h1 {
    color: rgb(35, 43, 40);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 100px;
    background-color: white;

}

ul.horizontal-list li {
    // rest of the styles from above
    min-width: 12rem;
    text-align: center;
}

img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}